/* Manually import Bootstrap components used so we only get necessary CSS. */
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/forms";
@import "bootstrap/tables";
@import "bootstrap/buttons";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/pagination";
@import "bootstrap/alerts";
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";
@import "bootstrap/list-group";
@import "bootstrap/wells";

.content-main {
  margin-top: 20px;
}

.button_to {
  float: left;
  margin-right: 5px;
}

input[type="text"],
input[type="date"],
input[type="password"],
select,
textarea {
  @extend .form-control;
}

img {
  @extend .img-responsive;
}

.current-user-name{
  float:right;
  margin-top:7px;
}

.user-controls {
  padding: 10px;
  .button_to {
    float: right;
  }
}

.nav-pills a{
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  @include transition(background-color 1s ease);
  &:hover{
    background-color:#E7F3FF;
    text-decoration:none;
    color:#428bca;
  }
}

#new-comment-form {
  clear:both;
  label{
    margin-top:10px;
  }
}

.comments{
  list-style-type:none;
  float:left;
  width:100%;

  li{
    float:left;
    width:100%;
    .reply-comment-button{
      float:left;
      margin-right:20px;
    }
  }
}